<h1>Hello!</h1>
<%= for row <- 1..100 do %>
  <%= for col <- 1..20 do %>
    <% handler = "pop(#{row},#{col})" %>
    <button onclick={handler} ></button>
  <% end %>
  <br/>
<% end %>

<style>
button {
  border-radius: 100%;
  border: 1px solid cyan;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 10px;
}
</style>
